.contactbox {
    padding: 60px;
    color: black;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 241, 241);
    position: sticky;
    bottom: 0%;
}

.social {
    font-size: 40px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tinyhead {
    font-weight: bold;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

@media screen and (max-width: 860px){
    .address {
        display: none;
    }
}


@media screen and (max-width: 530px){
    .contactbox {
        flex-direction: column;
        gap: 20px;
    }
}



